<% include ./partials/header %>


<div class="container">
    <div class="row">        
        <div class="yelp-form">
            <form class="form-signin mb-3" action="/login" method="POST">
                <h1 class="mb-4 text-center">Please Sign In</h1>

                <div class="mb-3">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>


<% include ./partials/footer %>